.dashboard-page {
  font-family: $font-family;
  text-align: center;
  padding-top: 5.5rem;
  &__button {
    margin-right: 0.1rem;
  }
  &__modes {
    &__bar {
      @media (max-width: $sm) {
        display: none;
      }
    }
    &__dropdown {
      @media (min-width: $md) {
        display: none;
      }
    }
  }
  &__content {
    padding-top: 1rem;
    &__dashboard {
      &--hidden {
        display: none;
      }
    }
  }
}
