.modes-bar {
  padding-bottom: 0.75rem;
  padding-top: 1rem;
  position: relative;
  &__slider {
    border-bottom: 2px solid $identity-color;
    bottom: 0;
    height: 0.5rem;
    position: absolute;
    transition: left 0.4s;
    min-width: 4rem;
    &--icon {
      width: 4rem;
    }
  }
}
